<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>You have connected this account to:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", "/user/disconnect/#{authentication.id}", :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <% if @authentications.length < 2 %>
	 <p><strong>Add another service to sign in with:</strong></p>
  <% end %>
<% else %>
  <h2>Sign in through one of these services:</h2>
<% end %>

<% if ! @authentications || ! @authentications.map{ |a| a.provider }.index('twitter') %>
<a href="/auth/twitter" style="float: left; width: 80px; height: 90px; text-align: center">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %><br />
  Twitter
</a>
<% end %>
<% if ! @authentications || ! @authentications.map{ |a| a.provider }.index('facebook') %>
<a href="/auth/facebook" style="float: left; width: 80px; height: 100px; text-align: center">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %><br />
  Facebook
</a>
<% end %>
