<h1>Update Your Password</h1>

<form class="reg" id="change_password" action="/user/change_password" method="post">

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
	  <% end %>
	</ul>
  <% end %>

  <label for="user_password">New Password</label><br/>
  <input type="password" name="user[password]" size="20" value="<%= h(@user.password) %>" /><br />
  <br />

  <label for="user_password_confirmation">Re-enter New Password</label><br/>
  <input type="password" name="user[password_confirmation]" size="20" value="<%= h(@user.password_confirmation) %>" /><br />
  <br />

  <input type="submit" value="Update Password" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />

  <%= link_to 'Cancel', :action => 'account' %>

</form>
