<!DOCTYPE html>
<html>
<head>
  <title>Rawreg3</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if flash[:error] %>
  <p class="error message"><%= flash[:error] %>
<% end %>
<% if flash[:warning] %>
  <p class="warning message"><%= flash[:warning] %>
<% end %>
<% if flash[:success] %>
  <p class="success message"><%= flash[:success] %>
<% end %>

<%= yield %>

<% if Rails.env == 'development' %>
  <pre>
	<%= debug params %>
  </pre>

  <pre>
	<%= debug logged_in %>
  </pre>

  <pre>
	<%= debug current_user %>
  </pre>
<% end %>


</body>
</html>
